In [3]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

plt.style.use('fivethirtyeight')

In [4]:
end = datetime.now()
start = datetime(end.year-15, end.month, end.day)
stock = 'BTC-USD'
stock_data = yf.download(stock, start = start, end = end)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [5]:
stock_data.head()

Price            Close        High         Low        Open    Volume
Ticker         BTC-USD     BTC-USD     BTC-USD     BTC-USD   BTC-USD
Date
2014-09-17  457.334015  468.174011  452.421997  465.864014  21056800
2014-09-18  424.440002  456.859985  413.104004  456.859985  34483200
2014-09-19  394.795990  427.834991  384.532013  424.102997  37919700
2014-09-20  408.903992  423.295990  389.882996  394.673004  36863600
2014-09-21  398.821014  412.425995  393.181000  408.084991  26580100

In [7]:
stock_data.describe().T

,,count,mean,std,min,25%,50%,75%,max
Price,Ticker,,,,,,,,
Close,BTC-USD,3817.0,2.077605e+04,2.396491e+04,1.781030e+02,1.317730e+03,9.525751e+03,3.353718e+04,1.061463e+05
High,BTC-USD,3817.0,2.121619e+04,2.445434e+04,2.117310e+02,1.327200e+03,9.701300e+03,3.449039e+04,1.091149e+05
Low,BTC-USD,3817.0,2.027196e+04,2.341413e+04,1.715100e+02,1.292370e+03,9.319653e+03,3.206481e+04,1.052917e+05
Open,BTC-USD,3817.0,2.075653e+04,2.394989e+04,1.768970e+02,1.317740e+03,9.525074e+03,3.353320e+04,1.061473e+05
Volume,BTC-USD,3817.0,1.904808e+10,2.075745e+10,5.914570e+06,5.278560e+08,1.516531e+10,3.024206e+10,3.509679e+11

In [8]:
stock_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3817 entries, 2014-09-17 to 2025-02-28
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Close, BTC-USD)   3817 non-null   float64
 1   (High, BTC-USD)    3817 non-null   float64
 2   (Low, BTC-USD)     3817 non-null   float64
 3   (Open, BTC-USD)    3817 non-null   float64
 4   (Volume, BTC-USD)  3817 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 178.9 KB

In [9]:
stock_data.columns

MultiIndex([( 'Close', 'BTC-USD'),
            (  'High', 'BTC-USD'),
            (   'Low', 'BTC-USD'),
            (  'Open', 'BTC-USD'),
            ('Volume', 'BTC-USD')],
           names=['Price', 'Ticker'])

In [10]:
#close price data
closing_price = stock_data[['Close']]

In [12]:
closing_price['Close']

Ticker           BTC-USD
Date
2014-09-17    457.334015
2014-09-18    424.440002
2014-09-19    394.795990
2014-09-20    408.903992
2014-09-21    398.821014
...                  ...
2025-02-23  96273.921875
2025-02-24  91418.171875
2025-02-25  88736.171875
2025-02-26  84347.023438
2025-02-28  80115.265625

[3817 rows x 1 columns]

In [ ]:
#PLot closing price with enchacement
plt.plot(closing_price.index, closing_price[])